.js-images-list {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
.js-images-list.js-images-item {
  list-style: none;
  // width: calc(100% / 3);
}

// .js-images-item:not(:last-child) {
//   margin-right: 15px;
// }
