.js-counter-btn {
  color: #ffffff;
  //   background-color: rgb(48, 58, 68);
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.js-increment-btn {
  background-color: #418a59;
}
.js-decrement-btn {
  background-color: #cc4242;
}
.js-counter-result {
  font-weight: bold;
}
